---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import { jls } from '../data/jlsData';

---

<Layout title="Storis">
		<h1 class="text-yellow-400">Welcome to your Storis Cheatsheet</h1>
		<h2 class="text-stone-50 text-center mb-4 uppercase text-lg">tips, tricks and changes</h2>
		<ol class="text-yellow-300" type="1">
			<li class="my-1">💥 All in store pickups will be written for pickup out of current location. Ex: 06 items, pick up 06. 67 items, pick up 67.</li>
			<li class="my-1">Delivery Windows are released at 4pm the night before delivery</li>
			<li class="my-1">💥 Orders must be paid/financed 100% before transfer.</li>
			<li class="my-1">Invoices are processed approximatly <span class="font-bold">2</span> hours after they are are delivered/picked up</li>
			<li class="my-1"><span class="font-bold">No more MKD's!</span> All skus must be taken to a manger</li>
			<li class="my-1">💥 Order can only be rescheduled <span class="font-bold">3</span> times without managment approval</li>
			<li class="my-1">💥 Orders over <span class="font-bold">7</span> days past their <span class='font-bold underline'>expected date, pickup date or delivery date</span> will lose their stock</li>
			<li class="my-1">💥 When finding stock, make sure that you have selected all the desired stores in your <span class='font-bold underline'>Open orders tab </span> inside the product activity screen </li>
			<li class='my-1'>💥 Aged adjustments are now ag adjustment. Ex: agbed, agdin, agmot...</li>	
			<li class='my-1'>💥 Transfers are currently taking upto <span class="font-bold"> 7-10 </span>days from 56 to any store for pick up</li>
			
			
		</ol>

		<h2 class="text-lg text-stone-50 text-center uppercase">Items to add keep in favorites</h2>
		<ol class="text-yellow-300" type="1">
			<li class="my-1">Enter a sales order</li>
			<li class="my-1">View Product Activity</li>
			<li class="my-1">View Salesperson Activity</li>
			<li class="my-1">Enter an exchange</li>
			<li class="my-1">Enter a return</li>
			<li class="my-1">View Customer Activity</li>
			<li class="my-1">View and Manage Open orders</li>
			<li class="my-1">Report Open Sales Orders</li>
		</ol>

		<p>Please text the creator with any additions / corrections that need to be made. (Justin Patrick @ the South Salt Lake Store). (Please allow up to 2 weeks for corrections / additions.)</p>
		<p>There is a search feature inside the search terms for your use</p>
		
		
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	p{
		color: rgb(253 224 71);
		padding: 0 2rem;
		margin: 2rem 0;
	}
	ol{
		list-style-type: circle;
		padding: 0 2rem;
		margin: 2rem 0;
	}
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	h1 {
		font-size: 2rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
		padding: 1.5rem;
		border-radius: 8px;
	}
	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.instructions strong {
		color: rgb(var(--accent-light));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
</style>

