---
import Layout from '../layouts/Layout.astro'

import {SearchBar} from '../components/SearchBar.jsx'


---

<Layout title="search-terms">
    <section>
        <SearchBar client:load />
    
    </section> 
   
</Layout>

