---


---


 <nav class="flex sm:justify-between justify-around items-center pt-2 my-8 px-2 sm:px-4 ">
  <div class="w-[50px] h-[30px] bg-gradient-to-br from-purple-600 to-purple-400 hover:scale-110 active:scale-100 hidden sm:block"></div>
  <ul class="text-stone-50 flex ">
    <li class="px-2 hover:text-purple-600  hover:scale-110 active:scale-100"><a href="/">
      Home</a>
    </li>
    <li class="px-2 hover:text-purple-600  hover:scale-110 active:scale-100"><a href="/how-to">
      How To
    </a>
    </li>
    <li class="px-2 hover:text-purple-600  hover:scale-110 active:scale-100"><a href="/search-terms">
      Search Terms</a>
    </li>
   
  </ul>
</nav>

<script>
  const {pathname} = window.location ;

  const activeNavigationTag = document.querySelector(`nav a[href='${pathname}']`)

  activeNavigationTag.classList.add('text-purple-600', 'border-b-2',  'border-purple-600')

</script>